
ios/Pandora.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ios/Pandora.xcodeproj/project.xcworkspace/xcshareddata/Pandora.xccheckout

ios/Pandora.xcodeproj/project.xcworkspace/xcshareddata/PandoraDev.xccheckout

ios/Pandora.xcodeproj/project.xcworkspace/xcuserdata/x.xcuserdatad/UserInterfaceState.xcuserstate

ios/Pandora.xcodeproj/project.xcworkspace/xcuserdata/x.xcuserdatad/WorkspaceSettings.xcsettings

ios/Pandora.xcodeproj/xcuserdata/x.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ios/Pandora.xcodeproj/xcuserdata/x.xcuserdatad/xcschemes/PandoraDev.xcscheme

ios/Pandora.xcodeproj/xcuserdata/x.xcuserdatad/xcschemes/xcschememanagement.plist
